/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

.hidden {
	visibility: hidden;
}

#edit-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	gap: 14px;
	background-color: black;
	color: white;
	padding: 22px 0;
}

#edit-bar.nodisplay {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	padding: 50px 0;
	margin: 0 auto;
}

main {
	max-width: 950px;
	margin: auto;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	cursor: default;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav a {
	display: flex;
	align-items: center;
	padding: 0 10px;
	font-size: 1.2em;
	color: black;
	text-decoration: none;
}

nav a.bold {
	font-weight: 600;
}

nav a:hover {
	color: #B1663C;
}
form {
	display: flex;
	flex-direction: column;
	text-align: left;
}

label {
	margin: 2em 0 1em;
}

select,
input {
	height: 51px;
	color: #444444;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 28px;
}

input[type="submit"] {
	width: 180px;
	margin: 37px auto 28px;
}

input[type="submit"],
button {
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
	gap: 72px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 100%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.edit-button {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 18px;
	width: 85px;
	text-align: end;
	color: black;
	font-family: "Work Sans";
	font-weight: 400;
	background: transparent url("./icons/edit-black.png") no-repeat left bottom;
	border-radius: 0px;
	margin-right: -118px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 50px 0;
}

.filters button {
	min-width: 100px;
	font-size: 16px;
	color: #1D6154;
	background-color: transparent;
	border: 1px solid #1D6154;
	padding: 0 13px;
	transition: all 300ms ease-out;
	cursor: pointer;
}

button.active {
	color: white;
	background-color:#1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.gallery img,
.modal-gallery img {
	width: 100%;
}

#contact,
#login {
	width: 50%;
	margin: 0 auto 16px;
}
#contact form,
#login form {
	position: relative;
	width: 100%;
	margin-top: 10px;
}
#contact h2{
	margin-bottom: 20px;
}
#contact h2,
#contact p {
	text-align: center;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#modal {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3)
}

#modal.nodisplay {
	display: none;
	opacity: 0;
	transform: scale(0);
	transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

#modal .modal {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 630px;
	border-radius: 10px;
	padding: 26px;
	box-sizing: border-box;
}

.modal .flash-message {
	position: absolute;
	top: 300px;
	z-index: 1;
	display: flex;
	align-self: center;
	font-size: 18px;
	font-weight: 600;
	border: 2px solid;
	border-radius: 50px;
	padding: 20px 40px;
	opacity: 0;
	transform: scale(0);
	animation: fadeinout 3s;
}

.flash-message.success {
	color: #1D6154;
	background-color: #A5E4D8;
}

.flash-message.error {
	color: #A30016;
	background-color: #FF8A99;
}

@keyframes fadeinout {
	25% {
		opacity: 0.9;
		transform: scale(1);
	} 60% {
		opacity: 0.9;
		transform: scale(1);
	} 100% {
		opacity: 0;
		transform: scale(0);
	}
}

.modal .buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.back-button {
	height: 18px;
	width: 21px;
	background: transparent url("./icons/arrow-left.png") no-repeat center;
}

.back-button.hidden {
	visibility: hidden;
}

.close-button {
	height: 24px;
	width: 24px;
	background: transparent url("./icons/xmark.png");
}

.modal h3 {
	font-size: 26px;
	margin: 12px auto 46px;
}

.modal .content {
	display: flex;
	gap: 26px;
	overflow: hidden;
}

.content .main,
.content form {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.translate {
	transform: translateX(-604px);
}

.modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 77px);
	gap: 30px 10px;
	padding-bottom: 66px;
	border-bottom: 1px solid #B3B3B3;
	overflow: auto;
}

.modal-gallery figure {
	position: relative;
}

.modal-gallery button {
	position: absolute;
	top: 6px;
	right: 5px;
	width: 17px;
	height: 17px;
	background: transparent url("./icons/trashcan.png");
	border-radius: 0px;
}

form .form {
	display: flex;
	flex-direction: column;
	width: 425px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 46px;
}

.upload-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 139px;
	background: #E8F1F6 url("./icons/image.png") no-repeat center top 12px;
	border-radius: 3px;
	padding: 12px 0 18px;
	overflow: hidden;
}

.upload-box img {
	height: 193px;
	position: absolute;
	top: -12px;
}

.upload-box label {
	width: 173px;
	color: #306685;
	font-weight: 500;
	text-align: center;
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 11px 0;
	margin: 5px auto 7px;
	cursor: pointer;
}

.upload-box input {
	display: none;
}

.upload-box p {
	color: #444444;
	font-size: 10px;
	font-weight: 400;
}

.modal select {
	appearance: none;
	background: white url("./icons/chevron-down.png") no-repeat right 28px center;
	cursor: pointer;
}

.add-button {
	width: 237px;
	margin: 38px 0 19px;
}

.modal input[type="submit"] {
	width: 237px;
	margin: 32px auto 29px;
}

.modal input[type="submit"].grey {
	background-color: #A7A7A7;
}

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login a {
	color: #3D3D3D;
}

#login p {
	position: absolute;
	bottom: 80px;
	left: 5px;
	color: #A30016;
	font-weight: 600;
}

footer {
	width: 100%;
	background-color: white;
}

footer.bottom {
	position: absolute;
	bottom: 0;
}

footer nav {
	max-width: 1140px;
	margin: auto;
	display: flex;
	justify-content: flex-end;
}

footer nav ul {
	margin: 2em;
}